<app-navbar-style-four></app-navbar-style-four>

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>About Us</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one"><img src="assets/img/inner-banner/banner-shape1.png" alt="Images"></div>
        <div class="shape-two"><img src="assets/img/inner-banner/banner-shape2.png" alt="Images"></div>
        <div class="shape-three"><img src="assets/img/inner-banner/banner-shape3.png" alt="Images"></div>
        <div class="inner-banner-dots"><img src="assets/img/shape/dots-shape.png" alt="Images"></div>
    </div>
</div>

<div class="about-widget-area pt-50 pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-widget-img">
                    <img src="assets/img/about/about-img4.png" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-widget-content">
                    <div class="section-title">
                        <h6 class="h2-color">About us</h6>
                        <h2>Grow Your Business With Our Agency</h2>
                    </div>
                    <h3>We offer Custom Mobile App Development, Custom Web App Development, UI / UX, Application Infrastructure, DevOps Services.</h3>
                    <p>With proven experience as Application Developers and UX designers, working with multinational clients prior to this project, our team has honed key strengths in analyzing business and technology problems and developing creative solutions. We have successfully managed a broad area of ​​customer and commercial based applications and are able to view situations from multiple perspectives. We do not have a technology barrier and always look forward to use the best technology to create a quality product.</p>
                    <div class="about-widget-list">
                        <ul>
                            <li>
                                <i class='bx bx-check'></i>
                                <span>01</span>
                                <p>High standards of professionalism, integrity. Establishment of close working relationships.</p>
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                <span>02</span>
                                <p>A different way of thinking, both inside and outside the box. We do not have to be the best.</p>
                            </li>
                            <li>
                                <i class='bx bx-check'></i>
                                <span>03</span>
                                <p>We do not have to be the best, we do have to give our best Ability to learn. Multicultural competence.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter-area-two pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="counter-card">
                    <h3>6+ Years</h3>
                    <p>GLORIOUS YEARS</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="counter-card">
                    <h3>100%</h3>
                    <p>SATISFACTION RATE</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="counter-card">
                    <h3>14 +</h3>
                    <p>TEAM MEMBERS</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="counter-card">
                    <h3>1040 +</h3>
                    <p>PROJECTS DONE</p>
                </div>
            </div>
        </div>
    </div>

    <div class="counter-shape-top">
        <img src="assets/img/counter/counter-shape.png" alt="Images">
    </div>
</div>

<div class="service-list-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="h2-color">Services</h6>
            <h2>Our Journey’s Path</h2>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="service-list-content">
                    <h3>Our Mission</h3>
                    <p>We are the next gen tech savvy team who possess the ability to understand and design business processes, develop creative and pragmatic solutions, and integrate them with applications creating high quality products and IT solutions dealing with Web Design, Web Development, Android Development, IOS Development , SEO Services, Software Applications focused on making your life and work much simpler.</p>
                    <ul>
                        <li><i class='bx bx-check'></i> Creating Results.</li>
                        <li><i class='bx bx-check'></i> Good Thinking</li>
                        <li><i class='bx bx-check'></i> Expect More</li>
                        <li><i class='bx bx-check'></i> Brilliant Minds</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-list-content">
                    <h3>Who We Are</h3>
                    <p>Lorem ipsum dolor sit ametaut odiut perspiciatis unde omnis iste quuntur alquam quaerat rsit amet</p>
                    <ul>
                        <li><i class='bx bx-check'></i> We Have You Covered</li>
                        <li><i class='bx bx-check'></i> Stay Real Always</li>
                        <li><i class='bx bx-check'></i> We Turn Heads</li>
                        <li><i class='bx bx-check'></i> Stay Real Always</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="service-list-content">
                    <h3>Our History</h3>
                    <p>Lorem ipsum dolor sit ametaut odiut perspiciatis unde omnis iste quuntur alquam quaerat rsit amet</p>
                    <ul>
                        <li><i class='bx bx-check'></i> Activate Listening</li>
                        <li><i class='bx bx-check'></i> Better Best Wow!</li>
                        <li><i class='bx bx-check'></i> Brilliant Minds</li>
                        <li><i class='bx bx-check'></i> Activate Listening</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="work-area-two pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="h2-color">Working Process</h6>
            <h2 class="h2-color2">Simple & Clean Work Process</h2>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-12">
                <div class="work-item-list">
                    <ul>
                        <li class="text-end">
                            <h3>Frame the Problem <span>1</span></h3>
                            <p>Understanding the problem clearly before finding solutions. This involves identifying important factors, limitations, and goals to make better decisions.</p>
                        </li>
                        <li class="text-end">
                            <h3>Collect the Raw Data <span>2</span></h3>
                            <p>Gathering all the basic information related to the problem. This helps to understand the situation better and form a solid foundation for finding solutions</p>
                        </li>
                        <li class="text-end">
                            <h3>Process the Data <span>3</span></h3>
                            <p>Organizing and analyzing the gathered information to make it useful. This helps to identify patterns and insights that guide decision-making.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="work-img-2">
                    <img src="assets/img/work-img.png" alt="Images">
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="work-item-list-2">
                    <ul>
                        <li>
                            <h3><span>4</span>Explore the Data</h3>
                            <p>Examining the organized data to uncover trends, patterns, and insights. This helps to understand the key factors that impact the problem.</p>
                        </li>
                        <li>
                            <h3><span>5</span>Perform Analysis</h3>
                            <p>Examining the data in detail to draw conclusions. This helps to identify possible causes, solutions, and make informed decisions.</p>
                        </li>
                        <li>
                            <h3><span>6</span>Communicate Results</h3>
                            <p>Sharing the findings in a clear and understandable way. This helps others grasp the insights and make decisions based on the analysis.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="history-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="h2-color">Our History</h6>
            <h2>The Facts About Our Company</h2>
        </div>

        <div class="history-list">
            <ul>
                <li class="active">
                    <i class='bx bx-check'></i>
                    <div class="content">
                        <h3>2010</h3>
                        <span>February 20th</span>
                    </div>
                </li>
                <li>
                    <i class='bx bx-check'></i>
                    <div class="content">
                        <h3>2012</h3>
                        <span>January 14th</span>
                    </div>
                </li>
                <li>
                    <i class='bx bx-check'></i>
                    <div class="content">
                        <h3>2016</h3>
                        <span>March 25th</span>
                    </div>
                </li>
                <li>
                    <i class='bx bx-check'></i>
                    <div class="content">
                        <h3>2018</h3>
                        <span>December 10th</span>
                    </div>
                </li>
                <li>
                    <i class='bx bx-check'></i>
                    <div class="content">
                        <h3>2019</h3>
                        <span>February 01th</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="history-content">
                    <h2>Great Success of the Year</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip comodo consequa dolor consectetur</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation </p>
                    <a routerLink="/about" class="default-btn">Learn more <i class='bx bx-plus'></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="history-img">
                    <img src="assets/img/history-img.png" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="team-area-two pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="h2-color">Team</h6>
            <h2 class="h2-color2">Meet Our Team</h2> 
        </div>
        <div class="team-slider-two owl-carousel owl-theme">
            <div class="team-card active">
                <img src="assets/img/team/manikanta.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Manikanta</h3>
                    <span>Web Developer</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/kiran.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Kiran</h3>
                    <span>Marketing Manager</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/rahul.jpg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Rahul</h3>
                    <span>General Manager</span>
                </div>
            </div>

            <div class="team-card active"> 
                <img src="assets/img/team/Bharat.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Bharat</h3>
                    <span>CEO At Ostino</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/p1.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Hobler Jeain</h3>
                    <span>General Manager</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/p2.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Julfiker Jeain</h3>
                    <span>CEO At Ostino</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/seshu.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Seshu</h3>
                    <span>CEO At Ostino</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/p3.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>vignesh</h3>
                    <span>CEO At Ostino</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonial-area testimonial-area-mb ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="testimonial-list">
                    <div class="list-img-1">
                        <img src="assets/img/testimonial/testimonial1.png" alt="Images">
                    </div>

                    <div class="list-img-2">
                        <img src="assets/img/testimonial/testimonial2.png" alt="Images">
                    </div>

                    <div class="list-img-3">
                        <img src="assets/img/testimonial/testimonial3.png" alt="Images">
                    </div>

                    <div class="list-img-4">
                        <img src="assets/img/testimonial/testimonial4.png" alt="Images">
                    </div>

                    <div class="list-img-5">
                        <img src="assets/img/testimonial/testimonial5.png" alt="Images">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="testimonial-title">
                    <h2>Words From Customers</h2>
                </div>

                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="testimonial-item">
                        <p>Working with WAFU doesn't feel working with an offshore development company; it feels as if we have gained an internal team of the company. They provide highly scaled team. The flexibility, agility and scalability are maximum and it is amazingly how open and trusted they are. They are very proactive.</p>
                        <div class="content">
                            <!-- <img src="assets/img/testimonial/testimonial-img1.png" alt="Images"> -->
                            <div class="content-title">
                                <h3>Yamaguchi Yohei</h3>
                                <span>Senior TPM,Amazon Development Center</span>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <p>We are very satisfied and happy to have found WAFU Technologies as our offshore development partner. During our relationship, WAFU has developed a good understanding of our own vision and work flows and found a way to successfully complement our operations without causing any discontinuities or issues on our side.</p>
                        <div class="content">
                            <!-- <img src="assets/img/testimonial/testimonial-img2.png" alt="Images"> -->
                            <div class="content-title">
                                <h3>Rajarshi Madishetty</h3>
                                <span>Senior Manager,Amazon Development Center</span>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <p>WAFU Technologies has been providing Managed Services on the AWS Cloud platform to 3M Car Care for more than a year. They've been managing the applications effectively based on agreed application performance and service SLAs. They have proactively solved issues impacting the business and handled the continuous releases of the applications without downtime.</p>
                        <div class="content">
                            <!-- <img src="assets/img/testimonial/testimonial-img3.png" alt="Images"> -->
                            <div class="content-title">
                                <h3>Abhimanyu Mehta</h3>
                                <span>Manager,3M Car Care</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-style-one></app-footer-style-one>