<app-navbar-style-one></app-navbar-style-one>
<div class="banner-area">
    <div class="container-fluid">
        <div class="container-max-2">
            <div class="col-lg-7 col-md-12">
                <div class="banner-content">
                    <h1>Possible to Link <b>Actual Customer</b></h1>
                    <div class="banner-btn">
                        <a routerLink="/contact" class="call-btn">Get started<i class='bx bx-plus'></i></a>
                        <a href="tel:+123-098-456-098" class="call-btn"><i class='bx bx-plus'></i>+91-7799822099</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-img"><img src="assets/img/home1/home1.png" alt="Images"></div>
</div>


<div class="about-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="container-max">
            <div class="row">
                <div class="col-lg-6 col-md-12 image-container">
                        <img src="assets/img/about/about-img1.jpg" alt="Images">
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <div class="section-title">
                             <h6 class="h2-color">About us</h6>
                            <h2 class="h2-color">Grow Your Business <b>With Our Agency</b></h2>
                        </div>
                        <h3>We offer Custom Mobile App Development, Custom Web App Development, UI / UX, Application Infrastructure, DevOps Services. </h3>
                        <p>With proven experience as Application Developers and UX designers, working with multinational clients, our team has honed key strengths in analyzing business and technology problems and developing creative solutions. We have successfully managed a broad area of customer and commercial-based applications and can view situations from multiple perspectives. We do not have a technology barrier and always look forward to using the best technology to create a quality product.</p>
                        <div class="about-btn">
                            <a routerLink="/about" class="blue-btn">Learn More<i class='bx bx-plus'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-counter">
                    <img src="assets/img/about/image.png" alt="Glorious Years Icon"  style="width: 80px; height: auto;"/>
                    <div class="content">
                        <h3>6+</h3>
                        <p>GLORIOUS YEARS</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-counter">
                    <img src="assets/img/about/project.png" alt="Glorious Years Icon"  style="width: 80px; height: auto;"/>
                    <div class="content">
                        <h3>1040 +</h3>
                        <p>PROJECTS DONE</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-counter">
                    <img src="assets/img/about/client.png" alt="Glorious Years Icon"  style="width: 80px; height: auto;"/>
                    <div class="content">
                        <h3>1030 +</h3>
                        <p>ACTIVE CLIENTS</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-counter">
                    <img src="assets/img/about/team.png" alt="Glorious Years Icon"  style="width: 80px; height: auto;"/>
                    <div class="content">
                        <h3>14 +</h3>
                        <p>TEAM ADVISORS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h6 class="h2-color">Services</h6>
            <h2 class="h2-color">We’re Flexible to <b>Provide You Best</b></h2>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-12">
                <div class="services-card-into">
                    <div class="services-card">
                        <a routerLink="/services-details"><img src="assets/img/service/service-icon1.png" alt="Images"></a>
                        <h3><a routerLink="/services-details">App Development</a></h3>
                        <p>We create custom apps tailored to your website’s purpose—whether it’s e-commerce, education, or services. Our focus is on user-friendly design, seamless functionality, and robust security to meet your business needs.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="services-card">
                    <a routerLink="/services-details"><img src="assets/img/service/service-icon2.jpeg" alt="Images"></a>
                    <h3><a routerLink="/services-details">Graphic Design</a></h3> 
                    <p>We provide professional graphic design solutions to bring your brand to life. From logos and marketing materials to web and app visuals, we focus on creating stunning, impactful designs that communicate your message effectively and leave a lasting impression.</p>
                </div>
                
                <div class="services-card">
                    <a routerLink="/services-details"><img src="assets/img/service/service-icon3.jpeg" alt="Images"></a>
                    <h3><a routerLink="/services-details">UI/UX Design</a></h3>
                    <p>We specialize in creating intuitive and visually appealing user interfaces (UI) and seamless user experiences (UX). Our goal is to ensure your website or app is easy to navigate, engaging, and delivers a smooth experience, enhancing user satisfaction and retention.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="services-card">
                    <a routerLink="/services-details"><img src="assets/img/service/service-icon4.jpeg" alt="Images"></a>
                    <h3><a routerLink="/services-details">Android/iOS Development</a></h3>
                    <p>We offer custom mobile app development for both Android and iOS platforms, building intuitive and high-performance apps tailored to your business needs. Our focus is on creating seamless, responsive, and user-friendly apps that deliver exceptional experiences across devices.</p>
                </div>

                <div class="services-card">
                    <a routerLink="/services-details"><img src="assets/img/service/service-icon5.jpeg" alt="Images"></a>
                    <h3><a routerLink="/services-details">Web Development</a></h3>
                    <p>We offer comprehensive web development services, creating responsive, secure, and high-performance websites tailored to your business needs. From design to functionality, we ensure your website delivers an exceptional user experience and helps achieve your goals.</p>
                </div>

                <div class="services-card">
                    <a routerLink="/services-details"><img src="assets/img/service/service-icon6.jpeg" alt="Images"></a>
                    <h3><a routerLink="/services-details">Software Applications</a></h3>
                    <p>We specialize in building custom software applications designed to streamline your business processes and improve efficiency. Our solutions are tailored to meet your specific needs, providing robust, scalable, and user-friendly software to enhance productivity and growth.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-area-two pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="h2-color">Team</h6>
            <h2 class="h2-color2">Meet Our Team</h2> 
        </div>
        <div class="team-slider-two owl-carousel owl-theme">
            <div class="team-card active">
                <img src="assets/img/team/manikanta.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Manikanta</h3>
                    <span>Web Developer</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/kiran.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Kiran</h3>
                    <span>Marketing Manager</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/rahul.jpg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Rahul</h3>
                    <span>General Manager</span>
                </div>
            </div>

            <div class="team-card active"> 
                <img src="assets/img/team/Bharat.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Bharat</h3>
                    <span>CEO At Ostino</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/p1.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Hobler Jeain</h3>
                    <span>General Manager</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/p2.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Julfiker Jeain</h3>
                    <span>CEO At Ostino</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/seshu.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>Seshu</h3>
                    <span>CEO At Ostino</span>
                </div>
            </div>

            <div class="team-card active">
                <img src="assets/img/team/p3.jpeg" alt="Images" style="height:400px; width:350px;">
                <div class="content">
                    <h3>vignesh</h3>
                    <span>CEO At Ostino</span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-style-one></app-footer-style-one>