<app-navbar-style-four></app-navbar-style-four>

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Services</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Services</li>
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one"><img src="assets/img/inner-banner/banner-shape1.png" alt="Images"></div>
        <div class="shape-two"><img src="assets/img/inner-banner/banner-shape2.png" alt="Images"></div>
        <div class="shape-three"><img src="assets/img/inner-banner/banner-shape3.png" alt="Images"></div>
        <div class="inner-banner-dots"><img src="assets/img/shape/dots-shape.png" alt="Images"></div>
    </div>
</div>

<div class="services-widget-area pt-50 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="h2-color">Services</h6>
            <h2 class="h2-color">We’re Flexible to <b>Provide You Best</b></h2>
        </div><br/><br/>

        <div class="team-area-two pb-70">
            <div class="container">
                <div class="team-slider-two owl-carousel owl-theme">
                    <div class="service-card">
                        <a routerLink="/service-details"><img src="assets/img/service/service-icon1.png" alt="Images" style="height:150px;"></a>
                        <h3><a routerLink="/service-details">App Development</a></h3>
                        <p>We create custom apps tailored to your website’s purpose—whether it’s e-commerce, education, or services. Our focus is on user-friendly design, seamless functionality, and robust security to meet your business needs.</p>
                    </div>
                    
                    <div class="service-card">
                        <a routerLink="/service-details"><img src="assets/img/service/service-icon2.jpeg" alt="Images"></a>
                        <h3><a routerLink="/service-details">Graphic Design</a></h3>
                        <p>We provide professional graphic design solutions to bring your brand to life. From logos and marketing materials to web and app visuals, we focus on creating stunning, impactful designs that communicate your message effectively and leave a lasting impression.</p>
                    </div>
        
                    <div class="service-card">
                        <a routerLink="/service-details"><img src="assets/img/service/service-icon3.jpeg" alt="Images"></a>
                        <h3><a routerLink="/service-details">UI/UX Design</a></h3>
                        <p>We specialize in creating intuitive and visually appealing user interfaces (UI) and seamless user experiences (UX). Our goal is to ensure your website or app is easy to navigate, engaging, and delivers a smooth experience, enhancing user satisfaction and retention.</p>
                    </div>

                    <div class="service-card">
                        <a routerLink="/service-details"><img src="assets/img/service/service-icon4.jpeg" alt="Images"></a>
                        <h3><a routerLink="/service-details">Android/iOS Development</a></h3>
                        <p>We develop custom mobile apps for Android and iOS, focusing on user-friendly, responsive, and high-performance designs to deliver great experiences on all devices.</p>
                    </div>

                    <div class="service-card">
                        <a routerLink="/service-details"><img src="assets/img/service/service-icon5.jpeg" alt="Images"></a>
                        <h3><a routerLink="/service-details">Web Development</a></h3>
                        <p>We offer comprehensive web development services, creating responsive, secure, and high-performance websites tailored to your business needs.we ensure that each app is optimized for performance, scalability, and a great user experience.</p>
                    </div>
        
                    <div class="service-card">
                        <a routerLink="/service-details"><img src="assets/img/service/service-icon6.jpeg" alt="Images"></a>
                        <h3><a routerLink="/service-details">Software Applications</a></h3>
                        <p>We develop custom software applications designed to match your business goals—whether for productivity, analytics, or automation. Our focus is on intuitive design, efficient functionality, and strong security to ensure reliability and performance.</p>
                    </div>
        
                    <div class="service-card">
                        <a routerLink="/service-details"><img src="assets/img/service/service-icon6.jpeg" alt="Images"></a>
                        <h3><a routerLink="/service-details">System Architecture</a></h3>
                        <p>We design system architectures tailored to your business requirements—whether for scalability, reliability, or performance. Our focus is on streamlined design, seamless integration, and robust security to support your operations effectively</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-style-one></app-footer-style-one>